<div ng-controller="MyDashboardCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">

	            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="room in roomsAvailability">
	                <div class="databox bg-white radius-bordered" ng-if="room.availability <= 20">
	                    <div class="databox-left bg-themesecondary">
	                        <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent: room.availability, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{room.availability | number : 0}}%</span></div>
	                        </div>
	                    </div>
	                    <div class="databox-right">
	                        <span class="databox-number themesecondary">{{room.room | uppercase}}</span>
	                        <div class="databox-text darkgray">{{room.availability | number : 0}}%</div>
	                        <div class="databox-stat themesecondary radius-bordered">
	                            <i class="stat-icon icon-lg fa fa-star-o"></i>
	                            <i class="stat-icon icon-lg fa fa-star-o"></i>
	                            <i class="stat-icon icon-lg fa fa-star-o"></i>
	                        </div>
	                    </div>
	                </div>

	                <div class="databox bg-white radius-bordered" ng-if="room.availability > 20 && room.availability < 80">
	                    <div class="databox-left bg-themethirdcolor">
	                        <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent: room.availability, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{room.availability | number : 0}}%</span></div>
	                        </div>
	                    </div>
	                    <div class="databox-right">
	                        <span class="databox-number themethirdcolor">{{room.room | uppercase}}</span>
	                        <div class="databox-text darkgray">{{room.availability | number : 0}}%</div>
	                        <div class="databox-stat themethirdcolor radius-bordered">
	                            <i class="stat-icon icon-lg fa fa-star"></i>
	                            <i class="stat-icon icon-lg fa fa-star"></i>
	                            <i class="stat-icon icon-lg fa fa-star-o"></i>
	                        </div>
	                    </div>
	                </div>



	                <div class="databox bg-white radius-bordered" ng-if="room.availability >= 80">
	                    <div class="databox-left bg-themeprimary">
	                        <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent: room.availability, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{room.availability | number : 0}}%</span></div>
	                        </div>
	                    </div>
	                    <div class="databox-right">
	                        <span class="databox-number themeprimary">{{room.room | uppercase}}</span>
	                        <div class="databox-text darkgray">{{room.availability | number : 0}}%</div>
	                        <div class="databox-stat themeprimary radius-bordered">
	                            <i class="stat-icon icon-lg fa fa-star"></i>
	                            <i class="stat-icon icon-lg fa fa-star"></i>
	                            <i class="stat-icon icon-lg fa fa-star"></i>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>



    <div class="widget">
        <div class="widget-header">
            <span class="widget-caption">Bar Chart</span>

            <div class="widget-buttons">
                <a href="" widget-collapse></a>
                <a href="" widget-dispose></a>
            </div>
        </div>

        <div class="widget-body">

            <div class="chartcontainer">
                <canvas id="bar" height="300" width="600"></canvas>

            </div>
        </div>
    </div>


</div>